* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
:root {
    --white: #ffffff;
    --black: #000;
    --tittle: rgb(219, 55, 55);
    --link: blue;
    --Light_300: 1.6rem;
    --tittle_text: 3rem;
    --Regular_400: 3.5rem;
    --Bold_700: 4rem;
}
html {
    font-size: 62.5%;
    font-family: 'Source Sans Pro', sans-serif;
}
body {
    padding: 10%;
    padding-right: 10%;
    max-width: 90%;
    height: auto;
    background-image: url(./fondo_header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.text {
    color: var(--black);
    font-size: var(--Light_300);
}
figure {
    width: auto;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: none;
    padding: none;
    overflow: hidden;
}
img {
    min-height: 100px;
    width: 50%;
    height: 50%;
    max-width: 600px;
    max-height: 1000px;
    object-fit: cover;
    object-position: center center;
    margin-top: 3%;
}

h1 {
    text-align: center;
    justify-items: center;
    color: var(--tittle);
    font-size: var(--Bold_700);
    margin-top: 10px;
}
h2 {
    text-align: center;
    margin-top: 3rem;
    font-size: var(--Bold_700);
    margin-bottom: 2rem;
}
video {
    width: 100%;
    height: 20%;
    justify-content: center;
}
.video_sizzing {
    max-width: 100%;
    max-height: 600px;
}
li {
    list-style: none;
    border-bottom: 20px;
    flex-direction: initial;
    text-align: center;
}
.title-sections {
    color: var(--tittle);
    font-size: var(--Regular_400);
}
p {
    text-align: justify;
    font-size: var(--Light_300);
}
.foot_image {
    text-align: center;
    font-size: var(--Light_300);
}
footer {
    text-align: end;
    padding-left: 50%;
    padding-top: 20%;
}
.footer {
    text-align: justify;
    font-size: var(--Light_300);
}
h3 {
    text-align: left;
    margin-bottom: 2rem;
    color: var(--tittle);
    font-size: var(--tittle_text);
}
a {
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}

.nav-center-section {
    width: 50%;
    height: 20%;
    justify-content: right;
    display: flex;
    justify-items: center;
    margin: 1%;
    padding-top: 1%;
    padding-left: 50%;
    font-size: var(--Light_300);
}
.nav-center-section a {
    margin-right: 20px;
    color: var(--link);
    font-style: italic;
    font-size: larger;
}

footer a {
    list-style: none;
    text-decoration: none;
    cursor: pointer;
    color: var(--link);
    font-style: italic;
    font-size: larger;
    font-size: var(--Light_300);
}
.sec_aboutme p {
    text-align: center;
    font-size: var(--Light_300);
}
.sec_aboutme .foot_image {
        text-align: center;
        font-size: var(--Light_300);
}

form {
    font-size: var(--Light_300);
    display: grid;
    justify-content: center;
}
form input {
    font-size: var(--Light_300);
    justify-items: center;
    text-align: center;
    margin: 10px;
}
.comment_form {
    text-align: center;
    font-size: var(--Light_300);
    text-decoration: underline;
}