body {
    padding: 10%;
    padding-right: 10%;
    max-width: 90%;
    height: auto;
}
h1 {
    text-align: center;
    color: brown;
}
h2 {
    text-align: center;
}
.title-page {
    color: rgb(219, 55, 55);
}
li {
    list-style: none;
    border-bottom: 20px;
    flex-direction: initial;
    text-align: center;
}
.title-sections {
    color: rgb(219, 55, 55);
}
p {
    text-align: justify;
}
footer {
    text-align: end;
    padding-left: 50%;
    padding-top: 20%;
}
.footer {
    text-align: justify;
}
h3 {
    text-align: left;
    color: brown;
}