body {
    padding: 10%;
    padding-right: 10%;
    max-width: 90%;
    height: auto;
}
h1 {
    text-align: center;
    color: brown;
}
h2 {
    text-align: center;
}
.title-page {
    color: rgb(219, 55, 55);
}
li {
    list-style: none;
    border-bottom: 20px;
    flex-direction: initial;
    text-align: center;
}
.title-sections {
    color: rgb(219, 55, 55);
}
p {
    text-align: justify;
}
footer {
    text-align: end;
    padding-left: 50%;
    padding-top: 20%;
}
.footer {
    text-align: justify;
}
h3 {
    text-align: left;
    color: brown;
}
a {
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}

header nav .nav-center-section {
    width: 50%;
    height: 20%;
    justify-content: right;
    display: flex;
    justify-items: center;
    margin: 1%;
    padding-top: 1%;
    padding-left: 50%;
}
nav .nav-center-section a {
    margin-right: 20px;
    color: blue;
    font-style: italic;
    font-size: larger;
}

footer a {
    list-style: none;
    text-decoration: none;
    cursor: pointer;
    color: blue;
    font-style: italic;
    font-size: larger;
}